[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

background = {git = "https://github.com/kennethreitz/background.git"}
simpleaudio = "*"
scipy = "*"


[dev-packages]

